// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;


// GREEN ME THEME COLORS:

$green: #102D2D;
$yellow: #F1E0B0;
$beige: #FAF2E5;

