.infos p {
  margin: 10px 0;
}

#geocoder {
  margin: 15px 0;
}

#checkout {
  margin-top: 15px;

  h3 {
    color: #102D2D;
    font-size: 32px;
    padding-top: 5px;
    text-align: center;
  }
}

.p-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;

  p {
    color: #102D2D;
    font-weight: 700;
  }
}

.mapboxgl-ctrl-geocoder {
  width: 1000px !important;
  max-width: 100% !important;
  background-color: #FAF2E5 !important;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl {
  border-radius: 20px !important;
}

