// Specific CSS for your home-page

#slogan {
  font-family: $body-font;
  font-size: 24px;
  color: $beige;
}


.home-page-top {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.description {
  width: 500px;
  margin-top: 50px;
}

// .btn-home-page-top {
//   display: flex;

// }
