<div class="footer">
    <div id="services">
      <h3>SERVICES</h3>
      <p>Paniers</p>
      <p>Livraison</p>
      <p>Paiement</p>
      <p>Termes et conditions</p>
    </div>
    <div id="contact">
      <h3>CONTACT</h3>
      <p>Contactez-nous</p>
      <p>A propos</p>
      <div id="social" class='social'>
        <h3>SOCIAL</h3>
        <div class="footer-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>