<h1 id="cart-title">Commande</h1>

<div class="container-cart">
  <div class="articles col-5">
    <h2>Vos articles</h2>

    <div class="selected-items">
      <table class="cart-table">
        <tbody>
          <tr class="table-headers">
            <td id="col-product-up">Produit</td>
            <td id="col-quantity">Quantité</td>
            <td id="col-price-up">Prix à l'unité</td>
            <!--<td id="col-total">Total</td>-->
          </tr>

          <tr class="cart-item">-
            <td class="item-description">
              <p>Pommes de rainette</p>
              <img src="https://source.unsplash.com/100x80/?apple" alt="">
            </td>
            <td class="item-quantity">-  3  +  <i class="far fa-trash-alt"></i> </td>
            <td class="item-single-price">156,99€</td>
            <!-- <td class="item-total-price">1200,99€</td> -->
          </tr>

          <tr class="cart-item">
            <td class="item-description">
              <p>Viande de Kobé</p>
              <img src="https://source.unsplash.com/150x60/?meat" alt="">
            </td>
            <td class="item-quantity">-  40  +  <i class="far fa-trash-alt"></i> </td>
            <td class="item-single-price">44,99€</td>
            <!-- <td class="item-total-price">1649,99€</td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="monthly-total">
      <h3>Total pour Juin</h3>
      <table class="cart-table">
        <tbody>
          <tr class="table-headers">
            <td id="col-product">Produit</td>
            <td>Quantité/mois</td>
            <td id="col-price">Sous-total</td>
          </tr>
          <tr>
            <td>Fraises</td>
            <td class="monthly-quantity">4x1</td>
            <td class="monthly-subtotal">19,96€</td>
          </tr>
          <tr clacc="table-headers">
            <td>Hamon d'España</td>
            <td class="monthly-quantity">1</td>
            <td class="monthly-subtotal">1254,87€</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="total-cart">
        <p>2 références, 5 produits</p>
        <p id="total">347,68€</p>
      </div>
    </div>
  </div>


  <div class="frequency-col col-5">
    <h2>Fréquence de livraison</h2>

    <div class="frequency-choice">
      <h3>Juste cette fois-ci</h3>
      <hr>
      <div class="selected-items">
        <table class="cart-table">
          <tbody>
            <tr class="cart-item">
              <td class="item-description">
                <p>Hamon d'España</p>
                <img src="https://source.unsplash.com/100x80/?ham" alt="">
              </td>
              <td class="item-quantity">-  1  +  <i class="far fa-trash-alt"></i> </td>
              <td class="item-single-price">1254,87€</td>
              <!-- <td class="item-total-price">4,99€</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="frequency-choice">
      <h3>Toutes les semaines</h3>
      <hr>
      <div class="selected-items">
        <table class="cart-table">
          <tbody>

            <tr class="cart-item">
              <td class="item-description">
                <p>Fraises</p>
                <img src="https://source.unsplash.com/100x80/?strawberry" alt="">
              </td>
              <td class="item-quantity">-  4  +  <i class="far fa-trash-alt"></i> </td>
              <td class="item-single-price">4,99€</td>
              <!-- <td class="item-total-price">4,99€</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="frequency-choice">
      <h3>Toutes les deux semaines</h3>
      <hr>
    </div>

    <div class="frequency-choice">
      <h3>Tous les mois</h3>
      <hr>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex flex-row justify-content-between">
    <div class="navigation-buttons" id="left-align">
      <%= link_to "<  Retour aux catégories", categories_path, class: "btn-yellow"%>
    </div>
    <div class="navigation-buttons" id="right-align">
      <%= link_to "Choisir son créneau  >", delivery_path, class: "btn-yellow"%>
    </div>
  </div>
</div>

