<div class="container">

  <div>
    <div class="home-page-top">
      <h1>Green Me Food.</h1>
      <a href="/categories" class="btn-yellow-home-page">Découvrez votre région</a>
    </div>
    <div>
      <h3 id="slogan">Bring local, organic and quality products to your home.</h3>
    </div>
  </div>

  <div class="description-1">
    <div class="img-persona">
    <%= image_tag"persona-1-home.svg", class: "persona-img" %>
    </div>
    <div class="txt-description">
    <h3>Des produits locaux et de qualité</h3>
    <p>Paragraph: Hover over the Google web fonts from the list on the right and click to select. Use the top right toggle to change the heading or body font family. Click the
    download icon to view in Google fonts.</p>
    </div>
  </div>

  <div class="description-2">
    <div class="img-persona">
    <%= image_tag"persona-2-home.svg", class: "persona-img" %>
    </div>
    <div class="txt-description">
    <h3>Des producteurs mieux rémunérés</h3>
    <p>Paragraph: Hover over the Google web fonts from the list on the right and click to select. Use the top right toggle to change the heading or body font family. Click the
    download icon to view in Google fonts.</p>
    </div>
  </div>

  <div class="description-3">
    <div class="img-persona">
    <%= image_tag"persona-3.svg", class: "persona-img" %>
    </div>
    <div class="txt-description">
    <h3>Une livraison en toute confiance</h3>
    <p>Paragraph: Hover over the Google web fonts from the list on the right and click to select. Use the top right toggle to change the heading or body font family. Click the
    download icon to view in Google fonts.</p>
    </div>
  </div>

<!--   <a href="#" class="btn-yellow">Yo</a><br>
  <a href="#" class="btn-yellow">Découvrez votre région, Découvrez votre région</a> -->



</div>

