<div class="container">
  <h1>Green Me Food.</h1>
  <h2 id="slogan">Bring local, organic and quality products to your home.</h2>
  <a href="/categories" class="btn-yellow">Découvrez votre région</a> <br>
  <a href="#" class="btn-yellow">Yo</a><br>
  <a href="#" class="btn-yellow">Découvrez votre région, Découvrez votre région</a>
  <br>
  <br>
  <br>


  <div class="products">

    <div class="card-product">
      <div class="card-front"></div>
      <div class="card-back">
        <!-- ITERATE HERE !!! -->
        <div class="producer">
          <img src="https://source.unsplash.com/60x60/?portrait" alt="" class="producer-img">
          <p>Thierry, producteur</p>
        </div>
        <div class="product-details">
          <p class="price-quantity">4,99€/250gr</p>
          <p class="product-name">Fraises</p>
          <div class="location">
            <i class="fas fa-location-arrow"></i>
            <p>Carpentras</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

