<div class="container">
  <h1>Green Me Food.</h1>
  <h2 id="slogan">Bring local, organic and quality products to your home.</h2>
  <a href="#" class="btn-yellow">Découvrez votre région</a> <br>
  <a href="#" class="btn-yellow">Yo</a><br>
  <a href="#" class="btn-yellow">Découvrez votre région, Découvrez votre région</a>
</div>
