.btn-yellow {
  height: 68px;
  font-size: 24px;
  padding: 16px 40px;
  margin: 12vh 2vw;
  border-radius: 2px;
  color: $green;
  background-color: $yellow;
  text-align: center;
  text-decoration: none;
  // transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: $beige;
    color: $green;
  //  transform: scale(1.2, 1.05);
  }
}

.btn-yellow-home-page{
  display: flex;
  align-items: center;
  height: 68px;
  font-size: 24px;
  padding: 0 24px ;
  color: $green;
  background-color: $yellow;
  // text-align: center;
  text-decoration: none;
  // transition: 0.5s;
  &:hover {
    text-decoration: none;
    background-color: $beige;
    color: $green;
  //  transform: scale(1.2, 1.05);
  }

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}


#right-align {
  display: flex;
  justify-content: flex-end !important;
}
