.container-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  // width: 80vw;
  margin: 0 auto;
}

.cart-table {
  background-color: $beige;
  color: $green;
  width: 100%;
  border-radius: 6px;
}

.cart {
  max-width: 600px;
}

.table-headers {
  border-bottom: 2px solid $green;
  td {
    font-weight: bold;
    padding: 8px 0px;
  }
}

#col-quantity { 
  text-align: center;
}

#col-product {
  text-align: left;
}

#col-product-up {
  text-align: left;
}

#col-total {
  text-align: right;
}

#col-price {
  min-width: 120px;
  text-align: right;
}

#col-price-up {
  min-width: 120px;
  text-align: right;
  padding: 8px 12px;
}

.cart-list {
  list-style-type: none;
}

.selected-items {
  display: flex;
  align-content: flex-start;
  width: 100%;
  margin: 0px;
}

.item-description {
  padding-bottom: 8px;
  p {
    padding-top: 8px;
    padding-bottom: 4px;
    color: $green;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 95%;
  }
  img {
    width: 150px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
}

.cart-item {
  .item-total-price {
    font-weight: bold;
  }
  .item-quantity,
  .item-total-price {
    text-align: center;
  }
  .item-single-price {
    text-align: right;
    padding-right: 20px;
  }
  &:hover {
    background-color: $yellow;
    transition: 0.4s;
  }
}

.grab-cart {
  cursor: grab;
}

td {
  font-family: $body-font;
  font-size: 18px;
  color: $green;
}
