.card-product {
  height: 320px;
  width: 260px;
  border-radius: 6px;
  margin: 20px 20px;
  // box-shadow: 4px 5px 10px rgba(0, 0, 0, .2);
  justify-self: center;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: transform .5s;

  &:hover .card-front {
    transform: rotateY(-180deg);
  }

  &:hover .card-back {
    transform: rotateY(0deg);
  }

  .added-to-cart-btn {
    display: none;

    img {
      height: 40px;
      width: 40px;
    }
  }

  &.added-to-cart {

    .card-back {
      transform: rotateY(0deg);
    }

    .card-front {
      transform: rotateY(-180deg);
    }

    .cart-form {
      display: none;
    }

    .added-to-cart-btn {
      display: block;
    }
  }
}


.card-front {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform .5s;
}


.card-back {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform .5s;
  color: #ffffff;

}


// PRODUCER

.producer {
  display: flex;
  align-items: center;

  padding: 12px 12px 20px;
  padding-bottom: 30px;

  p {

    margin: 0;
    padding-left: 12px;
  }
}

.producer-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}


// PRODUCT DETAILS

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 800px;
  margin: 0 auto;

}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  i {
    font-size: 24px;
    color: $beige;
    align-self: flex-end;
    padding: 0px 18px 18px 0px;
  }
}

.product-details {

  padding: 0px 0px 0px 12px;

  p {
    margin: 0;
  }
}

.product-name {
  font-size: 40px;
  font-weight: bold;
  line-height: 96%;
}

.location {
  display: flex;
  align-content: center;
  align-items: baseline;

  i,
  p {
    font-size: 18px;
    color: $beige;
  }

  p {
    margin: 0;
    padding-left: 12px;
  }

}

.articles h2 {
  margin-bottom: 5vh;
}