.container-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  width: 80vw;
  margin: 0 auto;
}

.cart-table {
  background-color: $beige;
  color: $green;
  width: 100%;
  border-radius: 6px;
}

.cart {
 max-width: 600px;
}

.table-headers {
  border-bottom: 2px solid $green;
  text-align: center;
  td {
    font-weight: bold;
  }
}

#col-product {
  padding: 8px 12px;
}

#col-price {
  min-width: 120px;
}

.selected-items {
  width: 100%;
}

.item-description {
  padding-left: 18px;
  padding-bottom: 8px;
  p {
    padding-top: 8px;
    padding-bottom: 4px;
    color: $green;
    font-weight: bold;
    margin-bottom: 0px;
    line-height: 95%;
  }
  img {
    width: 150px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
  }
}

.cart-item {
  .item-total-price {
    text-weight: bold;
  }
  .item-quantity, .item-single-price, .item-total-price {
    text-align: center;
  }
  &:hover {
    background-color: $yellow;
    transition: .4s;
  }
}


td {
    font-family: $body-font;
    font-size: 18px;
    color: $green;
}

