.footer {
  width: 100%;
  background: #FAF2E5;
  margin-top: 20px;
  position: absolute;
  padding: 0 300px;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #102D2D;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding-right: 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.social {
  display: flex;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer p {
  margin: 5px 0;
  color: #102D2D;
}

.footer h3 {
  text-align: left;
  padding-top: 20px;
  font-family: $body-font;
  font-size: 18px;
  font-weight: 700;
  color: #102D2D;
}

#services {
  padding: 0 100px;
}
#contact {
  padding: 0 100px;
}

#social h3 {
  margin-top: 8px;
  padding-top: 0;
}
