/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  background-color: #FAF2E5;
  margin: auto;
  border-radius: 8px;
  width: 30%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  
}

.modal-header {
  padding: 2px 16px;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 80px;
}

.modal-image img {
  display: block;
  position:absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 20px solid #FAF2E5;
}

.modal-body {
  padding: 2px 16px;
  h3 {
    color: #102D2D;
    text-align: center;
  }
  p {
    color: #102D2D;
    text-align: center;
  }
}

.producer {
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #102D2D;
  opacity: 0.5;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #102D2D;
  text-decoration: none;
  cursor: pointer;
}


/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}