.navbar-lewagon {
  justify-content: space-between;
  background: #FAF2E5;
  color: #102D2D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon p {
  margin: 0;
  margin-left: 50px;
  font-family: $headers-font;
  font-weight: 400;
  font-size: 36px;
  color: #102D2D;
}

.nav-item img {
  margin-left: 20px;
  width: 40px;
}

#shopping-cart-icon {
  width: 44px;
}

#messages-icon {
  width: 42px;
}

#navbarDropdown {
  margin-right: 50px;
}
