.navbar-lewagon {
  justify-content: space-between;
  background: #FAF2E5;
  color: #102D2D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon p {
  margin: 0;
  padding-left: 50px;
  // font-family: ;
  font-weight: 400;
  font-size: 36px;
}

.nav-item img {
  margin-left: 30px;
  width: 45px;
}

#navbarDropdown {
  margin-right: 50px;
}
