<%# MODAL
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3><%= product.producer.name %>, de<%=product.producer.location %></h3>
      <%# <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div> %> %>
